@model ShopOnline.Model.CartModel.PaymentCart
@using Microsoft.AspNetCore.Identity
@{
    ViewData["Title"] = "Checked";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts{
    <script src="~/lib/mustache.js/mustache.min.js"></script>
    <script src="~/admin-web-js/cart/index.js" asp-append-version="true"></script>
    <script>
        var cart = new CartControl();
        cart.init();
    </script>
    <script src="~/admin-web-js/buy/index.js" asp-append-version="true"></script>
    <script>
        var buy = new BuyControl();
        buy.init();
    </script>
}
<!-- main-container -->
<div class="main-container col1-layout">
    <div class="main container">
        <div class="row">
            <section class="col-sm-12 col-xs-12">
                <div class="col-main">
                    <div class="page-title">
                        <h1>Checkout</h1>
                    </div>
                    @if (User.Identity.Name != null)
                    {

                        <div class="page-content checkout-page">
                            <h3 class="checkout-sep">2. Billing Infomations</h3>
                            <div class="box-border">
                                <form asp-action="AddOrder" asp-controller="Cart" method="post">
                                    <ul>
                                        <li class="row">
                                            <div class="col-sm-6">
                                                <label for="first_name" class="required">First Name</label>
                                                <input type="text" class="input form-control" name="" id="first_name">
                                            </div>
                                            <!--/ [col] -->
                                            <div class="col-sm-6">
                                                <label for="last_name" class="required">Last Name</label>
                                                <input type="text" name="" class="input form-control" id="last_name">
                                            </div>
                                            <!--/ [col] -->
                                        </li>
                                        <!--/ .row -->
                                        <li class="row">
                                            <div class="col-sm-6">
                                                <label for="company_name">Company Name</label>
                                                <input type="text" name="" class="input form-control" id="company_name">
                                            </div>
                                            <!--/ [col] -->
                                            <div class="col-sm-6">
                                                <label for="email_address" class="required">Email Address</label>
                                                <input type="text" class="input form-control" name="" id="email_address">
                                            </div>
                                            <!--/ [col] -->
                                        </li>
                                        <!--/ .row -->
                                        <li class="row">
                                            <div class="col-xs-12">
                                                <label for="address" class="required">Address</label>
                                                <input type="text" class="input form-control" name="" id="address" asp-for="@Model.Adress">
                                            </div>
                                            <!--/ [col] -->

                                        </li>
                                        <!-- / .row -->
                                    </ul>
                                   
                                </form>
                               
                            </div>

                            <h3 class="checkout-sep">4. Shipping Method</h3>
                            <div class="box-border">
                                <ul class="shipping_method">
                                    <li>
                                        <p class="subcaption bold">Free Shipping</p>
                                        <label for="radio_button_3">
                                            <input asp-for="@Model.Payment" value="Giao hàng trung bình" type="radio" checked name="radio_3" id="radio_button_3">
                                            Free $0
                                        </label>
                                    </li>
                                    <li>
                                        <p class="subcaption bold">Free Shipping</p>
                                        <label for="radio_button_4">
                                            <input asp-for="@Model.Payment" value="Giao hàng nhanh" type="radio" name="radio_3" id="radio_button_4">
                                            Standard Shipping $5.00
                                        </label>
                                    </li>
                                </ul>

                            </div>
                            <div class="box-border">
                                <div class="order-detail-content">
                                    <table class="table table-bordered table-responsive jtv-cart-summary">
                                        <thead>
                                            <tr>
                                                <th class="cart_product">Product</th>
                                                <th>Description</th>
                                                <th>Color</th>
                                                <th>Size</th>
                                                <th>Price</th>
                                                <th>Quantity</th>
                                                <th>Total</th>
                                                <th class="action"><i class="fa fa-trash-o"></i></th>
                                            </tr>
                                        </thead>
                                        <tbody id="txtListCart">
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td colspan="2" rowspan="2"></td>
                                                <td colspan="3">Total products (tax incl.)</td>
                                                <td colspan="2">$@await Component.InvokeAsync("TotalPriceProduct")</td>
                                            </tr>
                                            <tr>
                                                <td colspan="3"><strong>Total</strong></td>
                                                <td colspan="2"><strong>$@await Component.InvokeAsync("TotalPriceProduct")</strong></td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                    <div class="cart_navigation">
                                        <button type="submit" class="button pull-right" id="txtBuy">Place Order</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    }
                    else
                    {
                        <div class="alert alert-danger" role="alert">
                            Bạn hãy đăng nhập trước khi mua hàng
                        </div>
                    }

                </div>
            </section>
        </div>
    </div>
</div>
<script id="table-template-listcart" type="x-tmpl-mustache">
  <tr data-id={{Id}}>
    <td class="cart_product"><a href="#"><img class="img-responsive" src="{{PathImage}}" alt="Product"></a></td>
    <td class="cart_description">
        <p class="product-name"><a href="#">{{Decripstion}}</a></p>
        <small class="cart_ref">SKU : #987654</small><br>
        <small><a href="#">Color : Pink</a></small><br>
    </td>
     <td class="cart_avail ddlListColorProduct"><input class="txtLastColorId" type="hidden" name="name" value="{{LastColorId}}" />{{{Color}}}</td>
     <td class="cart_avail ddlListSizeProduct"><input class="txtLastSizeId" type="hidden" name="name" value="{{LastSizeId}}" />{{{Size}}}</td>

    <td class="price"><span>{{LastPrice}}</span></td>
    <td class="qty">
        <input class="form-control input-sm" type="text" value="{{Quantity}}">
        <a href="#"><i class="fa fa-plus"></i></a> <a href="#"><i class="fa fa-minus"></i></a>
    </td>
    <td class="price"><span>{{TotalProduct}}</span></td>
    <td class="action"><a data-id="{{Id}}" class="txtDelete">Delete item</a></td>
</tr>
</script>

<!--End main-container -->
<!-- End Footer -->
<!-- jquery js -->
<script type="text/javascript" src="/admin-template-web/version2/js/jquery.min.js"></script>

<!-- bootstrap js -->
<script type="text/javascript" src="/admin-template-web/version2/js/bootstrap.min.js"></script>

<!-- owl.carousel.min js -->
<script type="text/javascript" src="/admin-template-web/version2/js/owl.carousel.min.js"></script>

<!-- jtv-jtv-mobile-menu js -->
<script type="text/javascript" src="/admin-template-web/version2/js/jtv-mobile-menu.js"></script>

<!-- countdown js -->
<script type="text/javascript" src="/admin-template-web/version2/js/countdown.js"></script>

<!-- main js -->
<script type="text/javascript" src="/admin-template-web/version2/js/main.js"></script>
