@model ShopOnline.Model.ProductModel.CreatProduct

@{
    ViewData["Title"] = "Creat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Creat</h2>

<h4>CreatProduct</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Creat">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastPrice" class="control-label"></label>
                <input asp-for="LastPrice" class="form-control" />
                <span asp-validation-for="LastPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PathImage" class="control-label"></label>
                <input asp-for="PathImage" class="form-control" />
                <span asp-validation-for="PathImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductCategoryId" class="control-label"></label>
                <input asp-for="ProductCategoryId" class="form-control" />
                <span asp-validation-for="ProductCategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Decripstion" class="control-label"></label>
                <input asp-for="Decripstion" class="form-control" />
                <span asp-validation-for="Decripstion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SeoPageTitle" class="control-label"></label>
                <input asp-for="SeoPageTitle" class="form-control" />
                <span asp-validation-for="SeoPageTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SeoAlias" class="control-label"></label>
                <input asp-for="SeoAlias" class="form-control" />
                <span asp-validation-for="SeoAlias" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SeoKeywords" class="control-label"></label>
                <input asp-for="SeoKeywords" class="form-control" />
                <span asp-validation-for="SeoKeywords" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SeoDescription" class="control-label"></label>
                <input asp-for="SeoDescription" class="form-control" />
                <span asp-validation-for="SeoDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

