@model List<ShopOnline.Model.CartModel.CartItem>
@using Microsoft.AspNetCore.Identity 

<div class="mini-cart">
    <div data-toggle="dropdown" data-hover="dropdown" class="basket dropdown-toggle"> <a href="shopping_cart.html"> <i class="pe-7s-cart"></i><span class="cart_count">@await Component.InvokeAsync("TotalProductOfCart")</span><span class="price">My Cart / $259.00</span> </a> </div>
    <div>
        <div class="jtv-top-cart-content">
          
            <!--block-subtitle-->
            <ul class="mini-products-list" id="cart-sidebar">
                @if (Model != null)
                {
                    @foreach (var cart in Model)
                    {
                        <li class="item first">
                            <div class="item-inner">
                                <a class="product-image" title="Product Title Here" ref="#"><img class="img-responsive" alt="Product Title Here" src="@cart.ProductViewModel.PathImage"> </a>
                                <div class="product-details">
                                    <div class="access"><a class="jtv-btn-remove" title="Remove This Item" href="#">Remove</a> <a class="btn-edit" title="Edit item" href="#"><i class="icon-pencil"></i><span class="hidden">Edit item</span></a> </div>
                                    <p class="product-name"><a href="#">@cart.ProductViewModel.Name</a> </p>
                                    <strong>1</strong> x <span class="price">$@cart.ProductViewModel.Price</span>
                                </div>
                            </div>
                        </li>
                    }
                }
                else
                {

                }
            </ul>
            <!--actions-->
            <div class="actions">
                <button class="btn-checkout" title="Checkout" type="button" onClick="checkout.html"><span>Checkout</span> </button>
                <a asp-controller="Cart" asp-action="Index" class="view-cart"><span>View Cart</span></a>
            </div>
        </div>
    </div>
</div>